<Configuration status="INFO" monitorInterval="30">
    <properties>
        <property name="LogHome">/Users/zaishu.ye/dev/logs</property>
        <property name="LogName">sample-web2</property>
    </properties>

    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} : %msg%n"/>
        </Console>
        <RollingRandomAccessFile name="RollingRandomAccessFile"
                                 fileName="${LogHome}/${LogName}.log"
                                 filePattern="${LogHome}/$${date:yyyy-MM}/${LogName}-%d{yyyy-MM-dd HH-mm}-%i.log">
            <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %l - %msg%n"/>
            <Policies>
                <TimeBasedTriggeringPolicy interval="1"/>
                <SizeBasedTriggeringPolicy size="100 MB"/>
            </Policies>
            <DefaultRolloverStrategy max="20"/>
        </RollingRandomAccessFile>
    </Appenders>
    <Loggers>
        <Root level="info">
            <AppenderRef ref="RollingRandomAccessFile"/>
            <AppenderRef ref="Console"/>
        </Root>
    </Loggers>
</Configuration>
