<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="xyz.haohao.sso.dao.mapper.SysUserMapper">

	<resultMap type="SysUser" id="SysUserResult">
		<id     property="userId"       column="user_id"      />
		<result property="merchantCode"	column="merchant_code" />
		<result property="loginName"    column="login_name"   />
		<result property="userName"     column="user_name"    />
		<result property="credential"   column="credential"     />
		<result property="salt"         column="salt"         />
	</resultMap>

	<sql id="selectUserVo">
        select  u.user_id, u.merchant_code, u.login_name, u.user_name, u.credential, u.salt
		from sys_user u
    </sql>

	<select id="selectUserByUserId" parameterType="Long" resultMap="SysUserResult">
		<include refid="selectUserVo"/>
		where u.user_id = #{userId}
	</select>

	<select id="selectUserByLoginName" resultMap="SysUserResult">
	    <include refid="selectUserVo"/>
		where u.merchant_code=#{merchantCode} and u.login_name = #{loginName}
	</select>

	
</mapper> 